.git
.github
.idea
.vscode
.zed
.history
.cache
.gocache
.gomodcache
.gopath
.test

frontend/node_modules
frontend/dist

logs
upload
data
tiktoken_cache
*.db
*.db-journal
*.exe
__debug_bin*

.env
.DS_Store
plans
.claude
.cursor
